<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cs213projectfive"
        tools:targetApi="31">
        <activity
            android:name="pizza.CurrentOrderScreen"
            android:exported="false"
            android:label="@string/title_activity_current_order_screen"
            android:theme="@style/Theme.Cs213projectfive.NoActionBar" />
        <activity
            android:name="pizza.StoreOrderScreen"
            android:exported="false"
            android:label="@string/title_activity_store_order_screen"
            android:theme="@style/Theme.Cs213projectfive.NoActionBar" />
        <activity
            android:name="pizza.BuildYourOwnScreen"
            android:exported="false"
            android:label="@string/title_activity_build_your_own_screen"
            android:theme="@style/Theme.Cs213projectfive.NoActionBar" />
        <activity
            android:name="pizza.SpecialtyPizza"
            android:exported="false"
            android:label="@string/title_activity_specialty_pizza"
            android:theme="@style/Theme.Cs213projectfive.NoActionBar" />
        <activity
            android:name="pizza.MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>